# WordPress
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/plugins/advanced-custom-fields/
wp-content/plugins/advanced-custom-fields-pro/
wp-content/plugins/wordpress-importer/
wc-logs/
wp-snapshots/

# Theme
wp-content/themes/wp-rio/node_modules/

# Global
._*
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
Icon
Desktop.ini
ehthumbs.db
Thumbs.db
*~
TAGS
tags
.*.sw[a-z]
.netrwhist
*.un~
Session.vim
*.log
*.sublime-project
*.sublime-workspace
*.sublime-projectcompletions
*.tmproj
*.tmproject
tmtags
nbproject/
.ftppass
.sftp-config.json
.idea

# Keys
keys