.blog-header h1 {
	font-weight: 700;
}

.blog-header p {
	font-size: 14px;
}

.entry {
	margin-top: 40px;
	padding-top: 50px;
	border-top: 1px solid $primary-color;

	&:last-child {
		padding-bottom: 50px;
	}

	.entry-title {
		font-size: 22px;
		font-weight: 400;
		margin-bottom: 15px;
	}

	.entry-meta {
		display: block;
	}

	.entry-image {
		margin: 20px 0 30px;
	}

	.entry-meta,
	.entry-comments,
	p {
		font-size: 13px;
	}
}

.single,
.page {
	.entry-header {
		margin-bottom: 25px;
	}

	.entry-image {
		margin-top: 20px;
	}
}

.equipe-social {
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		font-size: 20px;
		margin: 0 8px;
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		border-radius: 3px;
		background-color: #f7941d;
		color: #fff;
	}
}