html,
body {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
}
	
.main-nav {
	position: fixed;
	width: 100%;
	height: 68px;
	z-index: 999;
	background-color: $light-gray;

	&.active #logo {
		width: 100px;
		margin-left: -50px;
	}

	#logo {
		position: absolute;
		display: block;
		width: 200px;
		left: 50%;
		margin-left: -100px;
		@include transition(all .3s);

		img {
			max-width: 100%;
		}
	}
	
	.menu {
		@extend .container;
		list-style-type: none;
		height: 100%;
		margin-bottom: 0;

		&:after {
			@include clearfix;
		}

		.menu-item {
			float: left;
			height: inherit;

			&:nth-child(n+4) {
				float: right;
			}
			
			a {
				display: block;
				height: inherit;
				padding: 0 15px;
				font: 400 15px/68px $base-font;
				color: $base-color;
				text-decoration: none;
				text-transform: uppercase;
				@include transition(color .3s);

				&:hover {
					color: $primary-color;
				}
			}
		}
	}
}

.welcome-banner {
	display: table;
	width: 100%;
	height: 100%;
	max-height: 765px;
	border-bottom: 4px solid $primary-color;
	background: url('../images/header.jpg') no-repeat center center;

	.banner-caption {
		display: table-cell;
		vertical-align: middle;
		color: $white;

		.banner-container {
			@extend .container;

			.banner-wrapper {
				max-width: 60%;

				h1 {
					font-size: 22px;
				}

				h2 {
					font-size: 18px;
					text-transform: none;
				}

				.banner-button {
					@extend .btn;
					@extend .btn-primary;
					@extend .btn-lg;
					text-transform: uppercase;

					&:after {
						@extend .glyphicon;
						margin-left: 25px;
						top: 2px;
						content: "\e258";
					}
				}
			}
		}
	}
}

.meetup,
.event,
.partners-list,
.contact-area {
	@include make-row;
}

.event-image,
.meetup-image {
	@include make-md-column(4);
}

.event-content,
.meetup-content {
	@include make-md-column(8);
}

.slides-container {
	@include clearfix;

	.slide {
		@include make-md-column(4);
	}
}

.contact-area {
	@include clearfix;

	.blog {
		@include make-md-column(5);
	}

	.contact {
		@include make-md-column(7);
	}
}

.main-footer {
	font: 12px/1.16em $base-font;
	height: 300px;
	padding-top: 25px;
	color: $white;
	border-top: 4px solid $primary-color;
	background: $base-color url('../images/footer.jpg') no-repeat center center;
	@include clearfix;

	.credits {
		float: right;
	}
}