// ==========================================================================
// Colors
// ==========================================================================

$base-color: #315b86;		// Azul escuro
$primary-color: #f7941d; 	// Laranja
$secondary-color: #4ab2d7;	// Azul claro
$white: #fff;				// Branco
$light-gray: #eaecef;		// Cinza Claro

// ==========================================================================
// Fonts
// ==========================================================================

$base-font: 'Roboto', 'Trebuchet MS', sans-serif;
