html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
}

.certificate {
	width: 1024px;
	height: 768px;
	background: url('../img/2016/certificado-bg-meetup.jpg') center center;
	margin: 20px auto 0;
}

.certificate .certificate-label {
	width: 775px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	padding-top: 252px;
}

.certificate-pre {
	display: block;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	padding-top: 80px;
}

.certificate-name {
	display: block;
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	padding: 10px 0 10px;
	text-transform: uppercase;
}

.certificate-description {
	font-size: 25px;
	line-height: 35px;
}

.certificate-date {
	display: block;
	font-size: 25px;
	line-height: 35px;
	padding: 150px 0 10px;
}

.alert {
	padding: 30px;
	color: #ff1100;
}

.alert a {
	display: block;
	margin-top: 15px;
	text-decoration: none;
}
